*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-headings: #2e2f42;
  --button-background-color: #404bbf;
  --color-logo-web: #4d5ae5;
  --color-logo-studio: #2e2f42;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* ul {
  margin: 0;
   padding-left: 0; 
} */

address {
  font-style: normal;
}

img {
  display: block;
}

body {
  max-width: 1440px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: #434455;
  background-color: #ffffff;
  margin: 0 auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  text-align: center;
  margin-left: 141px;
  margin-right: 141px;
}
.section {
  padding: 120px 0;
}

/**-------------------Шаблони шрифтів-------------*/
/*стилі лого*/
.styles-logo {
  padding: 24px 0px;
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* заголовок рівня h3*/

.titl-h-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-headings, #2e2f42);
}

/*Описові тексти*/
.main-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/**--------------HEADER(Top line)-------------*/
.header {
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-logo {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-logo-web {
  color: var(--color-logo-web, #4d5ae5);
}

.header-logo-studio {
  color: var(--color-logo-studio, #2e2f42);
  margin: 0;
}

.header-address {
  margin-left: auto;

  font-style: normal;
}
.header-contact {
  display: flex;

  gap: 40px;
}

.header-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-item:is(:hover, :focus) {
  color: #404bbf;
}

.header-mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-mail:is(:hover, :focus) {
  color: #404bbf;
}

/**----------------Hero images+секція1----------------*/

.vision {
  padding-bottom: 0;
}

.visionhero {
  background-color: #2e2f42;
}

.vision-titl {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  background-color: #2e2f42;
  padding-top: 188px;
  max-width: 496px;
  margin: auto;
}

.vision-btn {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  padding: 16px 32px;

  margin-top: 48px;
  margin-bottom: 188px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
}

.vision-btn:is(:hover, :focus) {
  background-color: var(--button-background-color, #404bbf);
}

.visionstrategy-list {
  display: flex;
  gap: 24px;
  text-align: left;
}

.visionstrategy-item {
  flex-basis: calc((100%-3 * 24) / 4);
}

/**----------------секція2------------- */

.benefits-titl {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-headings, #2e2f42);
}

.benefits-list {
  display: flex;
  gap: 24px;
  margin-top: 72px;
}

/**------------------секція3--------------*/

.team {
  background-color: #f4f4fd;
}

.team-titl {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-headings, #2e2f42);
  margin: auto;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  /* background-color: #ffffff; */
  flex-basis: calc((100%-3 * 24) / 4);
}

.team-name {
  margin: auto;
  margin-top: 32px;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: auto;
  margin-top: 8px;
  margin-bottom: 32px;
}

/**-----------Footer--------------*/
.footer {
  /*font-family: */
  background-color: #2e2f42;
}

.footer-logo-web {
  color: var(--color-logo-web, #4d5ae5);

  margin-bottom: 16px;
}

.footer-logo-studio {
  color: var(--color-logo-studio, #f4f4fd);
  margin-bottom: 16px;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-top: 16px;
  width: 264px;
}

.footer-container {
  text-align: left;
  padding: 100px 879px 100px 15px;
}

/**-------------Сторінка портфоліо--------------*/

.footer-logo-studio {
  color: #f4f4fd;
}
.filter-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 96px;
  gap: 24px;
}

.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
}

.filter-btn:is(:hover, :focus) {
  color: #ffffff;
  background-color: var(--button-background-color, #404bbf);
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  padding-bottom: 120px;
  margin-top: 72px;
}

.category-titl {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-headings, #2e2f42);
  margin: auto;
  margin-top: 32px;
  text-align: left;
}
.category-text {
  margin: auto;
  margin-top: 8px;
  margin-bottom: 32px;
  text-align: left;
}

/* 
.team-name {
  margin: auto;
  margin-top: 32px;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: auto;
  margin-top: 8px;
  margin-bottom: 32px;
} */
